<%- include('partials/header.ejs') %>
<%- include('partials/navbar') %>

<div class="main">
    <h3>Desafio Técnico - Nível Pleno</h3>
    <h4>Gerenciador de Projetos</h4>
</div>

<%- include('partials/footer') %>