<div class="navbar">
    <h3>CRUD Básico</h3>
    <ul>
        <li><a href="/projects/">Projetos</a></li>
        <li><a href="/projects/registerProject">Cadastrar projeto</a></li>
        <li><a href="/users/logout">Sair</a></li>
    </ul>
</div>
<h2 style="text-align: center; padding: 2rem; text-transform: uppercase">Projetos</h2>