<div class="navbar">
    <h3>CRUD Básico</h3>
    <ul>
        <li><a href="/users">Usuários cadastrados</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/users/registerUser">Cadastrar usuário</a></li>
    </ul>
</div>